* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-size: 1.1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
    /*https://cssgradient.io/    */
    background-image: radial-gradient( circle at 30% 70%,  rgb(78, 19, 77) 8.3%, rgba(15,51,92,1) 79.4%, rgb(78, 19, 77) );
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 10%;
    background-image: radial-gradient( circle, rgb(54, 20, 54) 8%, rgb(7, 33, 63) 40%, rgb(54, 20, 54) );
    background-position: center top;
    text-shadow: 1px 1px 0px rgb(236, 240, 2); /*sombreamento das fontes*/
}

.cabecalho-nav {
    text-align: right;
    
}

.principal {
    margin: 0 auto;
}

section {
    background-color: #4f325f;
    color: #eee;
    padding: 1em;
}

.content {
    -webkit-flex-grow: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

object img {
    width: "10px";

}

footer {
    /*clear: both; Limpa o float*/
    
    background: radial-gradient(circle, rgb(134, 96, 132) 0%, rgba(92,76,130,1) 100%, rgb(134, 96, 132));
    text-shadow: 1px 1px 1px rgb(218, 221, 28);
    font-family: sans-serif;
    color:rgb(245, 245, 238);
}

footer img {
    border-radius: 50%;
    animation: animate 4s linear infinite;
}