* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Sergoe UI', Tahoma, 'Helvetica Neue', Helvetica;
}

body {
    color: rgb(238, 233, 206);
    text-align: center;
    background-image: radial-gradient(rgb(75, 22, 74), rgba(16,61,92), rgb(75, 22, 74) );
    display: flex;
    flex-direction: column; 
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;   
        -webkit-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;  
    font-size: 0.8em;
    font-weight: bold;
    overflow-x: hidden; /* oculta barra de rolagem inferior */
}

header {
    position: sticky;
    top: 0;
    height: 6em;
    background-image: radial-gradient(circle, rgb(78, 23, 78), rgb(11, 57, 110), rgb(77, 27, 107) );  
    text-transform: uppercase;
}

.titulo {
    text-align: left;
}

.menu {
    list-style: none;
    float: right;
    font-size: 1.2em;
}

.menu li {
    position: relative;
    float: left;
    word-spacing: 2px;
}

.menu li a {
    color: rgb(233, 219, 219);
    text-decoration: none;
    padding: 4px 6px;
    display: block;
}

.menu li a:hover {
    background: #333;
    color: #fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.menu li ul {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: rgb(51, 29, 85);
    display: none;
}

.menu li:hover ul, .menu li.over ul {
    display: block;
}

.menu li ul li {
    border: 1px groove white;
    display: block;
    width: 150px;
    font-size: 0.7em;
    font-weight: lighter;
}

.principal {
    display: flex; /* Lado a lado */
    flex-wrap: wrap; /* Quebra de linha e row (padrao) */
    justify-content: center;
    /*space-between/center/space-around/distribuicao */
}

#rotulo {
    font-size: larger;
}

.subtitulo:hover {
    color: rgb(233, 226, 168);
    font-size:larger;
    text-transform: uppercase;
}

.para {
    clear: both;
    white-space: nowrap; 
    font-weight: bold;
    overflow: hidden;
    margin: 40px 0 10px 0;
    background-image: radial-gradient(circle, rgb(78, 23, 78), rgb(11, 57, 110), rgb(77, 27, 107) ); 
}

.subtitulo img {
    box-shadow: 1px 1px 1px 1px rgb(71, 64, 133);
    text-align: center;
    height: auto; 
    width: auto; 
    max-width: 180px; 
    max-height: 180px;
    padding: 0.1em;
    margin: 0 2em;
    /* width: 170px; */
    /* position: relative; */
    /* display: inline-block; */
}

.subtitulo img:hover {
    transition-duration: 1.2s;
    transform: scale(1.8);
    border-radius: 12%;
    /* object-fit: scale-down; */
    /* transform: translate(-50%, 50%); */
    /* object-fit: cover; */
    /* display: inline-block; */
    /* justify-content: center; */
    /* padding-block: 0 10px; */
    /* margin-left: 1%; */
    /* margin-right: 1% */
    /* display: inline; */
    /* overflow: auto; */
    /* align-items: center; */
    /* overflow: hidden; */
    /* width: fit-content; */
    /* max-width: fit-content;*/
    /* float: center;*/
}

/*
.subtitulo img::after {
    content: attr(data-title);
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 0;
}
*/

@keyframes animate {
    from {
        opacity: 0.3;
    } to {
        opacity: 1;
    } 0% {
        background-color: rgb(161, 71, 158);
        width: 245px;
    } 20% {
        background-color: rgb(115, 52, 151);
        width: 255px;
    } 40% {
        background-color: rgb(108, 79, 114);
        width: 265px;
    } 60% {
        background-color: rgb(172, 100, 170);
        width: 275px;
    } 80% {
        background-color: rgb(121, 69, 163);
        width: 280px;
    } 90% {
        background-color: rgb(150, 97, 117);
        width: 285px;
    } 100% {
        background-color: rgb(105, 71, 185);
        max-width: auto;
    }
} 

a {
    color: white;
}

.copyright {
    font-size: x-small;
    text-align: left;
    padding: 5px 0 1px 5px;
}

#rodape {
    background: radial-gradient( rgb(134, 96, 132) 0%, rgba(92,76,130,1) 100%, rgb(134, 96, 132));
    text-shadow: 1px 1px 1px 0 rgb(218, 221, 28);
    font-family: sans-serif;
    transition-duration: 3.5s;
}

footer img {
    height: 30px;
    width: 26px;
    border-radius: 99%;
}

footer svg {
    width: 27px;
    height: 27px;
}

/* testar
@media only screen and (max-device-width: 900px) {
    .principal { width:100%; }
}
*/
