* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-size: 1.1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
    /*https://cssgradient.io/    */
    background-image: radial-gradient(rgb(75, 22, 74), rgba(15,51,92,1), rgb(75, 22, 74) );
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 10%;
    background-image: radial-gradient(circle, rgb(54, 20, 54), rgb(7, 33, 63), rgb(54, 20, 54) );  
}

.titulo {
    text-align: left;
}

.cabecalho-nav {
    text-align: right;
    transition: all 6s ease-out;
}

.principal {
    margin: 0 auto;
    color: #eee;
    -webkit-flex-grow: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 2em;
}

.principal img {
    max-width: 340px;
}

.principal img:hover {
    transition-duration: 1.2s;
    transform: scale(1.2);
    width: 420px;
    border-radius: 14%;
}

.intro {
    background-image: radial-gradient( rgb(105, 47, 104), rgb(26, 62, 104) 20%, rgb(75, 22, 74) );
}

.diversos{
    background-image: radial-gradient( rgb(105, 47, 104), rgb(26, 62, 104) 20%, rgb(75, 22, 74) );
}

a {
    color: white;
}

footer {
    /*clear: both; Limpa o float*/   
    background: radial-gradient( rgb(134, 96, 132) 0%, rgba(92,76,130,1) 100%, rgb(134, 96, 132));
    text-shadow: 1px 1px 1px rgb(218, 221, 28);
    font-family: sans-serif;
    color:rgb(245, 245, 238);
}

footer img {
    border-radius: 50%;
    animation: animate 4s linear infinite;
}