* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Sergoe UI', Tahoma, 'Helvetica Neue', Helvetica;
}

body {
    font-size: 1.1em;
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
    /*https://cssgradient.io/    */
    background-image: radial-gradient(rgb(75, 22, 74), rgba(15,51,92,1), rgb(75, 22, 74) );
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 10%;
    background-image: radial-gradient(circle, rgb(54, 20, 54), rgb(7, 33, 63), rgb(54, 20, 54) );  
}

.titulo {
    text-align: left;
}

.cabecalho-nav {
    text-align: right;
    transition: all 6s ease-out;
}

.link {
    color: rgb(231, 231, 214);
}

.principal {
    margin: 0 auto;
    -webkit-flex-grow: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.principal img {
    max-width: 290px;
    box-shadow: 1px 1px 1px 1px rgb(102, 64, 133);
    padding: 1em;
}

.principal img:hover {
    transition-duration: 1.2s;
    transform: scale(1.2);
    width: 350px;
    border-radius: 14%;
}

.subtitulo {
    font-family: Arial;
    text-align: left;
    padding: 1rem 0rem 1rem 0rem;
    margin: 1rem 0rem 1rem 0rem;
    height: 1.2em;
    animation: animate 6s alternate linear infinite;

}

@keyframes animate {
    from {
        opacity: 0.3;
    } to {
        opacity: 1;
    }

    0% {
        background-color: rgb(46, 22, 45);
        width: 245px;
    }

    20% {
        background-color: rgb(56, 22, 75);
        width: 255px;
    }

    40% {
        background-color: rgb(66, 22, 75);
        width: 265px;
    }    

    60% {
        background-color: rgb(76, 22, 75);
        width: 275px;
    }
    
    80% {
        background-color: rgb(86, 22, 75);
        width: 280px;
    }

    90% {
        background-color: rgb(56, 22, 75);
        width: 285px;
    } 

    100% {
        background-color: rgb(46, 22, 75);
        max-width: auto;
    }
} 

a {
    color: white;
}

.copyright {
    font-size: small;
    text-align: left;
}

#rodape {
    /*clear: both; Limpa o float*/   
    background: radial-gradient( rgb(134, 96, 132) 0%, rgba(92,76,130,1) 100%, rgb(134, 96, 132));
    text-shadow: 1px 1px 1px rgb(218, 221, 28);
    font-family: sans-serif;
    color:rgb(245, 245, 238);
    transition-duration: .3s;
}

footer img {
    height: 30px;
    width: 28px;
    border-radius: 50%;
}